[Desktop Entry]
Name=NipaPlay
Comment=A cross platform danmaku video player.
Comment[zh_CN]=一款跨平台本地弹幕视频播放器。
Exec=nipaplay
Icon=io.github.MCDFsteve.NipaPlay-Reload
Terminal=false
Type=Application
Categories=AudioVideo;Audio;Video;